:root {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --android-green-bgc: #32de84;
    --bright-blue-bgc: #5fa9e6;
    --bright-orange-bgc: #FF6347;
    --grey-bgc: #322e2e;
    --charcoal-bgc: rgb(51, 51, 51);
    --dark-blue-bgc: #0b1620;

    --top-margin: 12.5px;
    --right-margin: 10px;
    --colored-block-border-radius: 12.5px;
}

body {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 3fr 1.25fr;
    grid-template-rows: 1.35fr 0.15fr 7fr 0.65fr;
    gap: 12.5px;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.sidebar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    background-color: var(--grey-bgc);
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: -3px 0 5px 0 #555;
}

.sidebar.light {
    background-color: var(--android-green-bgc);
}

.sidebar .logo-and-header {
    margin: 25px 25px 0px 25px;
    display: flex;
    color: whitesmoke;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.sidebar .logo-and-header:hover {
    transform: scale(95%);
}

.sidebar .logo-and-header span {
    font-weight: bold;
    font-size: 1.9rem;
}

.sidebar .logo-and-header .logo-grid-icon {
    width: 32.5px;
    height: 32.5px;
    min-width: 32.5px;
    min-height: 32.5px;
    display: grid;
    gap: 3px 3px;
    grid-template-areas:
        "top-left top-right"
        "top-left top-right"
        "top-left bottom-right"
        "bottom-left bottom-right"
        "bottom-left bottom-right";
}

.logo-grid-icon .top-left {
    background-color: white;
    grid-area: top-left;
}

.logo-grid-icon .top-right {
    background-color: white;
    grid-area: top-right;
}

.logo-grid-icon .bottom-left {
    background-color: white;
    grid-area: bottom-left;
}

.logo-grid-icon .bottom-right {
    background-color: white;
    grid-area: bottom-right;
}

.sidebar .nav-logos {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 3.5px;
    color: whitesmoke;
}

.sidebar .nav-logos div {
    display: grid;
    grid-template-columns: 1.15fr 3fr;
    grid-template-rows: repeat(4, 10px);
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.sidebar .nav-logos div:hover {
    transform: scale(105%);
}

.sidebar .nav-logos i {
    font-size: 1.35rem;
    text-align: center;
}

.sidebar .nav-logos a {
    color: whitesmoke;
    font-size: 1.35rem;
    font-weight: 550;
}

.top-intro {
    background-color: var(--charcoal-bgc);
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    padding: 1px 15px 10.25px 7.5px;
    color: whitesmoke;
    margin-top: var(--top-margin);
    border-radius: var(--colored-block-border-radius);
    text-align: center;
}

.top-intro.light {
    background-color: var(--bright-orange-bgc);
}

.top-intro h1 {
    font-size: 3.5rem;
    padding: 0;
    margin: 5px 0px 7.5px 15px;
}

.top-intro h5 {
    font-weight: 600;
    font-size: 1rem;
    padding: 0;
    margin: 10px 0px 5px 20px;
}

.top-side-content {
    grid-row: 1 / span 2;
    margin-top: var(--top-margin);
    margin-right: var(--right-margin);
    background-color: var(--grey-bgc);
    border-radius: var(--colored-block-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1.15s ease-in;
}

.top-side-content.light {
    background: linear-gradient(330deg, #48A9FE, #0BEEF9);
}

.top-side-content span {
    color: whitesmoke;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}

.top-side-content span:hover {
    transform: scale(95%);
}

.bottom-side-content {
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
    margin-right: var(--right-margin);
    background-color: var(--charcoal-bgc);
    border-radius: var(--colored-block-border-radius);
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.bottom-side-content.light {
    background: linear-gradient(145deg, #A594F9, #7556c9);
}

.bottom-side-content h1 {
    margin-top: 17.5px;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.bottom-side-content span {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.bottom-side-content #break {
    width: 1.25rem;
    height: 2px;
    background-color: whitesmoke;
}

.main-content {
    grid-row: 2 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    padding-top: 10px;
}

.card {
    width: 250px;
    height: 275px;
    border-radius: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-size: cover;
    box-shadow: inset 0 0 100px rgb(0, 0, 0, 0.03);
    position: relative;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(105%);
}

.card .info {
    width: inherit;
    height: 60%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 2.5%;
    /* border-top-left-radius: 0px;
    border-top-right-radius: 0px; */
    position: absolute;
    bottom: 0px;
    transition: all 0.15s ease-out;
}

.card .info .name-and-description {
    max-width: 100%;
    max-height: 70%;
    display: grid;
    margin: 20px 15px 10px 15px;
    color: rgb(86, 84, 84);
}

.card .info #name {
    font-size: 1.25rem;
}

.card .info #description {
    font-size: 0.85rem;
}

.card .info .buttons {
    font-size: 1.3rem;
    position: absolute;
    bottom: 10px;
    left: 217.5px;
    transition: all 0.15s linear;
    z-index: 1;
}

.card .info .buttons:hover {
    transform: scale(80%);
}

.card:hover .info {
    height: 75%;
}

.card.one-EaS {
    background-image: url(img/odin-etch-a-sketch.png);
    background-position: 50%;
}

.card.two-SignUpForm {
    background-image: url(img/odin-sign-up-form.png);
}

.card.three-calculator {
    background-image: url(img/odin-calculator.png);
    background-position: 0 -11.5px;
}

.card.four-landing-page {
    background-image: url(img/odin-landing-page.png);
}

.card a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.footer {
    grid-column: 1 / span 3;
    grid-row: 4 / span 2;
    background-color: var(--dark-blue-bgc);
    color: whitesmoke;
    font-size: 13.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer.light {
    background-color: var(--bright-blue-bgc);
}